{% extends "deckShare/base.html" %}

{% block body %}
{% load static %}
<script src= "{% static "deckShare/scripts/bundle.js" %}"></script>
<div class="background-containter">
	<div class="heading">Well Met, {{user.username}}</div>
	<div class="container">
		<div class="Matches">
			<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Friend</th>
					<th scope="col">They can lend You</th>
					<th scope="col">You can lend Them</th>
				</tr>
			</thead>
			<tbody>
				<!-- {% for match in matches %}
					{% if match.deck1.owner == user.profile %}}
						<tr>
							<td>{{match.deck2.name}}</td>
							<td>{{match.deck1.name}}</td>
							<td>Share! {{match.deck2.owner.blizzTag}}</td>
						</tr>
					{% else %}
						<tr>
							<td>{{match.deck1.name}}</td>
							<td>{{match.deck2.name}}</td>
							<td>Share! {{match.deck1.owner.blizzTag}}</td>
						</tr>
					{% endif %}
				{% endfor %} -->
				{% for friend, desiredByUser, desiredByFriend in friends %}
					<tr>
						<td>
							<div>{{friend.user.username}}</div>
							<div><button id="{{friend.id}}" class="btn btn-warning requestFriends">Delete Friend</button></div>
						</td>
						<td>
							{% for deck in desiredByFriend %}
								<ul class="deck" id="{{deck.deckString}}">{{deck.name}}</ul>
							{% endfor %}
						</td>
						<td>
							{% for deck in desiredByUser %}
								<ul class="deck" id="{{deck.deckString}}">{{deck.name}}</ul>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>

		<div class="deckToolTip">
			<table class="cardList">
			</table>
		</div>
	
	</div>
</div>



{% endblock %}