{% extends "deckShare/base.html" %}

{% block body %}
<div class="background-containter">
	<div class="heading">Well Met, {{user.username}}</div>
	<div class="container">
		<div class="Matches">
			<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Deck</th>
					<th scope="col">Class</th>
					<th scope="col">String</th>
					<th scope="col">Share info?</th>
				</tr>
			</thead>
			<tbody>
				{% for deck in generous %}
				<tr>
					<td>{{deck.name}}</td>
					<td>{{deck.deckClass}}</td>
					<td>{{deck.deckString}}</td>
					<td>{{deck.owner.blizzTag}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
</div>




{% endblock %}