{% extends "deckShare/base.html" %}

{% block body %}
<div class="background-containter">
	<div class="heading">Well Met, {{user.username}}</div>
	<div class="container">
		<div class="Matches">
			<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Match</th>
					<th scope="col">They can lend You</th>
					<th scope="col">You can lend Them</th>
				</tr>
			</thead>
			<tbody>
				<!-- {% for match in matches %}
					{% if match.deck1.owner == user.profile %}}
						<tr>
							<td>{{match.deck2.name}}</td>
							<td>{{match.deck1.name}}</td>
							<td>Share! {{match.deck2.owner.blizzTag}}</td>
						</tr>
					{% else %}
						<tr>
							<td>{{match.deck1.name}}</td>
							<td>{{match.deck2.name}}</td>
							<td>Share! {{match.deck1.owner.blizzTag}}</td>
						</tr>
					{% endif %}
				{% endfor %} -->
				{% for match, desiredByUser, desiredByMatch in matches %}
					<tr>
						<td>{{match.user.username}}</td>
						<td>
							{% for deck in desiredByUser %}
								<ul class="{{deck.deckString}}">{{deck.name}}</ul>
							{% endfor %}
						</td>
						<td>
							{% for deck in desiredByMatch %}
								<ul class="{{deck.deckString}}">{{deck.name}}</ul>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
</div>




{% endblock %}