{% extends "deckShare/base.html" %}

{% block body %}
<div class="background-containter">
	<div class="heading">Well Met, {{user.username}}</div>
	{{matches}}
	<div class="container">
		<div class="Matches">
			<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Deck They Have</th>
					<th scope="col">Deck You Have</th>
					<th scope="col">Share info?</th>
				</tr>
			</thead>
			<tbody>
				{% for owner,deck in matches %}
				<tr>
					<td>{{owner}}</td>
					<td>{{deck}}</td>
					<td>Share!</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
</div>




{% endblock %}