{% extends "deckShare/base.html" %}

{% block body %}
{% load static %}
<script src= "{% static "deckShare/scripts/wishList.js" %}"></script>
<script></script>
<div class="background-containter">
	<div class="heading">Well Met, {{user.username}}</div>
	<div class="text-center">{{message}}</div>
	<div class="container">
		<div class="addDeck">
			<form action="/profile/wishList" method="post">
				{% csrf_token %}
				<input type="text" name="deckName" class="deckName" placeholder="Deck Name" value="{{deckName}}"required>
				<input type="text" name="deckCode" class="deckCode" placeholder="Deck Code" value="{{deckCode}}" required>
				<input type="submit" value="Submit" class="btn btn-success">
			</form>
		</div>

		<!-- Hidden form to submit deck to remove from Wishlist -->
		<form id="deleteForm" action="/profile/wishList" method="post">
			{% csrf_token %}
			<input type="hidden" id="deckToDelete" name="deckToDelete" value="">
		</form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Class</th>
					<th scope="col">Deck Code</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for deck in wishList %}
				<tr>
					<td>{{deck.name}}</td>
					<td>{{deck.deckClass}}</td>
					<td>{{deck.deckString}}</td>
					<td><img class="trash" id="{{deck.id}}" src={% static "deckShare/images/trash.png" %} alt="Delete"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>




{% endblock %}