{% extends "deckShare/base.html" %}

{% block body %}
{% load static %}
<script src= "{% static "deckShare/scripts/profile-links.js" %}"></script>
<script></script>
<div class="background-containter">
	<div class="heading">Well Met, {{user.username}}</div>
	<div class="text-center">{{message}}</div>
	<div class="container">
		<div class="addDeck">
			<form action="/profile/wishList" method="post">
				{% csrf_token %}
				<input type="text" name="deckName" class="deckName" placeholder="Deck Name" value="{{deckName}}"required>
				<input type="text" name="deckCode" class="deckCode" placeholder="Deck Code" value="{{deckCode}}" required>
				<input type="submit" value="Submit" class="btn btn-success">
			</form>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Class</th>
					<th scope="col">Deck Code</th>
				</tr>
			</thead>
			<tbody>
				{% for deck in wishList %}
				<tr>
					<td>{{deck.name}}</td>
					<td>{{deck.deckClass}}</td>
					<td>{{deck.deckString}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>




{% endblock %}