{% extends "deckShare/base.html" %}

{% block body %}
{% load static %}
<script src= "{% static "deckShare/scripts/profile-links.js" %}"></script>
<script></script>
<div class="background-containter">
	<div class="heading">Well Met, {{user.username}}</div>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Class</th>
					<th scope="col">String</th>
				</tr>
			</thead>
			<tbody>
				{% for deck in wishList %}
				<tr>
					<td>{{deck}}</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>




{% endblock %}