.auth-form{
    margin: 3% auto auto auto;
    text-align: center;
    background-color: white;
    border: 2px solid #28a745;
    width: 33%;
}

.form-center{
    margin: auto;
    text-align: center;
}

.heading{
    text-align: center;
    font-size: 28pt;
    padding: 30px;
    color: white;
}

.body{
    background-color: #DCDCDC;
    font-family: "Droid Serif";
}

.registration-input{
    width: 50%;
}

.background-containter{
    height: 90vh;
    background: linear-gradient(to left, #00ccff 4%, #007bff 100%);

}

.navbar{
    height: 10vh;
}

.profile-links{
    display: inline-block;
    width: 40vw;
    height: 28vh;
    margin: 2%;
    background: #1589ff;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
}

.HSreplay-link{
    color: white;
}

.last-update{
    margin-top: 2%;
}

.profile-links-header{
    font-size: 6vh;
}

.profile-links-text{
    font-size: 2.5vh;
    margin-left: 1%
}

/* For WishList*/
.deckName{
    width: 10vw;
}

.deckCode{
    width: 60vw;
}
}